<ngx-loading [show]="(loading | async)!" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<p>province works!</p>
<!-- <div *ngFor="let province of provinces">
    <div><a routerLink="/{{province.code}}" class="btn btn-info">{{province.code}} -
            {{province.name}}</a></div>
</div>
<div *ngFor="let city of citys">
    <div><a routerLink="/{{provinceCode}}/{{city.code}}" class="btn btn-info">{{city.code}} -
            {{city.name}}</a></div>
</div> -->
<div>统计用区划代码 -名称</div>
<div *ngFor="let divisions of results">
        <div *ngIf="!!divisions.provinceCode && !divisions.cityCode"><a routerLink="{{divisions.provinceCode}}"
                        class="btn btn-info">
                        {{divisions.provinceCode}} -
                        {{divisions.provinceName}}</a></div>
        <!-- <div *ngIf="!!divisions.provinceCode && !divisions.cityCode"><a routerLink="/{{divisions.provinceCode}}"
                        target="_blank" class="btn btn-info">
                        {{divisions.provinceCode}} -
                        {{divisions.provinceName}}</a></div> -->
        <!-- <div *ngIf="!!divisions.provinceCode && !divisions.cityCode" (click)="provinceClick(divisions.provinceCode)"><a
                        class="btn btn-info">
                        {{divisions.provinceCode}} -
                        {{divisions.provinceName}}</a>
                <ng-template #provinceCode>Hello,<b>{{divisions.provinceCode}}</b>!</ng-template>
        </div> -->
        <div *ngIf="!!divisions.cityCode  && !divisions.areaCode"><a routerLink="{{divisions.cityCode}}"
                        class="btn btn-info">
                        {{divisions.cityCode}} -
                        {{divisions.cityName}}</a></div>
        <div *ngIf="!!divisions.areaCode&& !divisions.streetCode"><a routerLink="{{divisions.areaCode}}"
                        class="btn btn-info">
                        {{divisions.areaCode}} -
                        {{divisions.areaName}}</a></div>
        <div *ngIf="!!divisions.streetCode && !divisions.villageCode"><a routerLink="{{divisions.streetCode}}"
                        class="btn btn-info">
                        {{divisions.streetCode}} -
                        {{divisions.streetName}}</a></div>
        <div *ngIf="!!divisions.villageCode">
                {{divisions.villageCode}} -
                {{divisions.villageName}}</div>
</div>