<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/search-delete-updateusers"
                class="btn btn-info">Search_Delete_Update
                Users</a></li>
            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Insert User</a></li>
            <li class="list-inline-item"><a routerLink="/divisions" class="btn btn-info">Divisions</a></li>
            <li class="list-inline-item"><a routerLink="/divisionsSelect" class="btn btn-info">DivisionsSelect</a></li>
            <li class="list-inline-item"><a routerLink="/divisionsSelect2" class="btn btn-info">DivisionsSelect2</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>