<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-router-outlet id="main">
        <ion-list>
          <ion-item>
            <ion-button routerLink=""> home</ion-button>
          </ion-item>
          <ion-item>
            <ion-button routerLink="user/search-delete-updateusers"> Search</ion-button>
          </ion-item>
          <ion-item>
            <ion-button routerLink="user/adduser"> Insert</ion-button>
          </ion-item>
          <ion-item>
            <ion-button routerLink="divisions/divisions"> Divisions</ion-button>
          </ion-item>
          <ion-item>
            <ion-button routerLink="divisions/divisionsSelect"> DivisionsSelect</ion-button>
          </ion-item>
        </ion-list>
      </ion-router-outlet>
    </ion-content>
  </ion-menu>
  <router-outlet></router-outlet>
</ion-app>