<p>user-form works!</p>
<div>
    <tr>
        <td width="120px">
            <li>ID:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.id />
        </td>
    </tr>
</div>
<div>
    <tr>
        <td width="120px">
            <li>nickName:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.nickName />
        </td>
    </tr>
</div>
<div>
    <tr>
        <td width="120px">
            <li>userSex:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.userSex />
        </td>
    </tr>
</div>