<!-- <p>search-condition works!</p>
<div>
    <tr>
        <td width="120px">
            <li>ID:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.id />
        </td>
    </tr>
</div>
<div>
    <tr>
        <td width="120px">
            <li>nickName:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.nickName />
        </td>
    </tr>
</div>
<div>
    <tr>
        <td width="120px">
            <li>userSex:
            </li>
        </td>
        <td>
            <input #id [(ngModel)]=user.userSex />
        </td>
    </tr>
</div> -->
<app-user-form #child1></app-user-form>
<!-- <app-search-condition></app-search-condition> -->
<p>user-list works!</p>
<ag-grid-angular style="width: 700px; height: 250px;" class="ag-theme-alpine" [rowData]="users"
    [columnDefs]="columnDefs">
</ag-grid-angular>
<div><button (click)="searchByCondition()"> 檢索</button></div>