<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                Home
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>ACTs Reference App</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-button slots="start" size="default" (click)="openMenu()">Open Menu</ion-button>
</ion-app>